<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Department Table</h1>
        <table border="3px">
            <tr>
                <th>Dept_no</th>
                <th>Dname</th>
                <th>Loc</th>
                <th>No.of.Employee</th>
               
                <th>Dept_url</th>
            </tr>
            {% for i in QLDO %}
            <tr>
                <td>{{i.Dept_no}}</td>
                <td>{{i.Dname}}</td>
                <td>{{i.Loc}}</td>
               
                <td>{{i.no_of_employee}}</td>
                <td>{{i.dept_url}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>